* {
  background-color: black;
  margin: 0px;
  padding: 0px;
  font-family: 'Courier New', Courier, monospace;
}

.main-container {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


.choice-buttons {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
  background-color: grey;
  border-radius: 10px;
  border-color: white;

}

.choice-buttons button {
  font-size: xx-large;
  font-weight: bold;
  color: black;
  text-align: center;
  margin: 10px;
  width: 200px;
  height: 200px;
  border-radius: 200px;
  background-color: white;
  border: 2px solid black;
  transition: 0.01s;

}

.choice-buttons button:hover {
  color: white;
  background-color: black;
  border: 2px solid white;
}

.choice-buttons button:active {
  transform: translateY(2px);
}

#result-box {
  font-size: xx-large;
  color: white;
  min-height: 70px;

}